absl-py
addict
av
basicsr
certifi
cffi
charset-normalizer
contourpy
cycler
face-alignment
facexlib
filelock
filterpy
fonttools
fsspec
future
gfpgan
grpcio
huggingface-hub
idna
imageio
Jinja2
kiwisolver
kornia
kornia_rs
lazy_loader
llvmlite
lmdb
Markdown
MarkupSafe
matplotlib
mpmath
networkx
numba
numpy
nvdiffrast
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
packaging
pillow
pip
platformdirs
protobuf
pycparser
pyparsing
python-dateutil
PyYAML
realesrgan
regex
requests
safetensors
scikit-image
scipy
setuptools
six
soundfile
sympy
tb-nightly
tensorboard-data-server
tifffile
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
trimesh
triton
typing_extensions
urllib3
Werkzeug
yacs
yapf
